<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/static/account.css">
<div class="row user-details pl-4">
	<div class="col-2 rounded-circle DP p-0">
	<% if(currentUser.id==user.id){ %>
	<a href="/prfl/<%=user._id %>/edit" id="edit"><i class="fas fa-edit edit"></i></a>
	<% } %>
	</div>
	<div class="col-10 info">
		<div id="top">
			<h2 id="username" class="mr-5">
			<%=user.username%>
			</h2>
				<% if(user.id!==currentUser.id){ %>
				<button type="button" id="connect" onclick="sendRequest(event)" data-user-id="<%=user._id%>" class="btn btn-				primary btn-sm ml-5 btn-info">
					<p id="status">
						<%	var stat= function(use, reqId){
							// console.log(reqId);
							use.forEach(function(ids){
								if(ids.userId==reqId){
									return 1;
								}
							});
						}
						if(stat(user.request, currentUser.id)!==1){ %> Connect <%}
						else{ %>Disconnect <% } %> 
					</p><i class="fas fa-user-plus ml-2 mt-1"></i></button>
				<% } %>
			</div>
		<p>
			<i class="fas fa-home"></i> <%=user.city%>
		</p>
		<p>
			<i class="fas fa-briefcase"></i> <%=user.job%>
		</p>
		<p>
			<i class="fas fa-graduation-cap"></i> <%=user.university%>
		</p>
	</div>
</div>
<% if(user.id==currentUser.id){ %>
<div class="row swap d-flex justify-content-around">
	<div class="col-3">
		<form action="/prfl/<%=user.id%>" method="get">
			<button class="btn btn-secondary switch" id="pos" type="submit">Posts</button>
		</form>
	</div>
	<div class="col-3">
		<form action="/prorequest/<%=user.id%>" method="get">
			<button class="btn btn-secondary switch" type="submit" id="reque">Requests</button>
		</form>
	</div>
	<div class="col-3">
		<form action="/friend/<%=user.id%>" method="get">
			<button class="btn btn-secondary switch" id="fri" type="submit">Friends</button>
		</form>
	</div>
</div>
<div id="postbtn">
	<a href="/ideas/new" role="button" class="btn btn-outline-success btn-lg btn-block postlink"><i class="fas fa-pen"></i>Create New Post</a>
</div>
<% } %>
<div class="container row posts-container"> 
    <div class="col-md-12">
	<% if(items[0]==undefined){ %>
			<div class="col-md-12 ideas px-0 my-3 po text-center">
				<h5>No posts yet by the user...</h5>
			</div>
		<%}%>
	<% items.forEach(function(idea) { %>
		<div class="col-md-12 ideas px-0 my-3 po">
			<a href="/ideas/<%= idea._id %>" class="post">
			<div class="posts px-2"> 
				<h5><%= idea.title %></h5> 
				<p id="creator">
					-<%=idea.creator.username%>
				</p>
				<% if(idea.img.contentType !== null){ %>
					<div class="post-img px-3 mb-2">
						<img src="data:image/<%=idea.img.contentType%>;base64, <%=idea.img.data.toString('base64')%>"> 
					</div>	
				<% } %>
                <p id="desc"><%- idea.details.substring(0, 50) %>....</p> 
			</div>
			</a>
			<div class="row interact">
				<div class="col-6 p-0 d-flex">
					<div class="col-10 p-0">
						<button class="btn btn-secondary btn-lg btn-block like" onclick="actOnPost(event);" data-post-id="<%=idea._id%>">Like</button>	
					</div>
					<div class="col-2 p-0" id="like-dis">
						<span id="likes-count-<%=idea.id%>" class="lik"><%=idea.likes_count%></span>
					</div>
				</div>
				<div class="col-6 p-0">
					<button class="btn btn-danger btn-lg btn-block" id="comment">Comment</button>
				</div>
			</div>
		</div>
	<% }) %>
    </div>  
</div> 
<script>
	var updateConnectStats = {
    Connect: function () {
    	document.querySelector('#status').textContent = "Disconnect";
    },
    Disconnect: function() {
      document.querySelector('#status').textContent = "Connect";
    }
};	
var sendRequest= function(event){
	// console.log(event.currentTarget.dataset.userId);
	var userId= event.currentTarget.dataset.userId;
	var action= event.currentTarget.textContent.trim();
	updateConnectStats[action]();
	axios.post('/sendRequest/'+userId);
}
var updatePostStats = {
    Like: function (postId) {
		console.log(document.getElementById("likes-count-"+postId));
		document.getElementById("likes-count-"+postId).textContent++;
    },
    Unlike: function(postId) {
      	document.getElementById("likes-count-"+postId).textContent--;
    }
  };
	var toggleButtonText = {
    Like: function(button) {
      button.textContent = "Unlike";	
    },
    Unlike: function(button) {
      button.textContent = "Like";
    }
  };
	var actOnPost = function (event) {
    var postId = event.target.dataset.postId;
    var action = event.target.textContent.trim();
	toggleButtonText[action](event.target);
    updatePostStats[action](postId);
    axios.post('/posts/' + postId + '/act', { action: action });
  };
</script>

<%- include("partials/footer") %>